MONGO_URI=your_mongodb_connection_string_here
ADMIN_EMAIL=startup@phonly.com
ADMIN_PASS=pass-startup@123
SESSION_SECRET=replace_with_a_random_secret
PORT=10000


WA_PHONE_NUMBER_ID=890646017471685
WA_ACCESS_TOKEN=EAALZBnrNswpABQRj9ZAvj8hguk8YZBvMZArjgo9o8hE04uGEsrl2kDPoWwwWaxH8QzF21h5WLngCyJKiacQE6TW7eqT1UQBVfHhyGW4aq2voXqEHOQzpopXHhZC0Pissqs4sechOQOveCRZC5alQYM7F506QozgbZAxAFi8mjagKZBGDb6ZCjH76IOZCCoN8wuHR9eV1BEXjZAQzehhtZA1HmJYJNfZAqjdbOUINjhSixSVpf6khYgZBdV0FhEn2RkygcjBiN1jWyQuGXvysEsJSSuHB9XblwtY7TAbwC6awZDZD
